<h1>Rant Post</h1>
<p><%= link_to 'New Rant', new_post_path %></p>
<% @posts.each do |post| %>
  <h2> <%= post.title %> </h2>
  <%= link_to 'Show Post', post_path(post) %>
  <%= link_to 'Edit Rant', edit_post_path(post) %>

<% end %>  